.mobile-menu {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  text-align: center;
  background-color: #212121;
  z-index: 5;
  padding: 0;
  color: #dedede;
  overflow: hidden;
  display: none;
  li {
    margin: 50px 0 50px 0;
    padding: 50px 0 0 0;
    list-style: none;
    border-top: 1px solid black;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: 1px solid black;
      margin-bottom: 0;
      padding-bottom: 50px;
    }
    a {
      color: #dedede;
      cursor: pointer;
    }
  }
}
