body {
  background-color: #434343;
}
.container {
  padding: 0;
}
.inner-box {
  padding-left: 75px;
  padding-right: 75px;

}
.page-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    left: -10px;
    top: 0;
    background-image: url('../images/leftshadow.png');
  }
  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    right: -10px;
    top: 0;
    background-image: url('../images/rightshadow.png');
  }
}
