<footer class="page-container">
  <div class="body">
    <div class="links flex-container">
      <div class="column">
        <h4>Ettevõttest</h4>
        <a href="#">Ettevõttest</a>
        <a href="#">Tule tööle</a>
        <a href="#">Hinnakirjad</a>
        <a href="#">Lepingud ja tingimused</a>
      </div>
      <div class="column">
        <h4>Kontaktid</h4>
        <a href="#">Kontaktid</a>
        <a href="#">Esindused</a>
      </div>
      <div class="column">
        <h4>E-Poe Kontaktid</h4>
        <a href="#">Kontaktid</a>
        <a href="#">Transport</a>
        <a href="#">Tingimused</a>
      </div>
      <div class="column">
        <h4>Sotsiaalmeedia</h4>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Google+</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="inner-box">
      <div class="footer-item">
        <img src="../images/logophoneblue.png" alt="" />
        <h3>Phone <br>Shop</h3>
      </div>
      <div class="footer-item">
        <h5>&copy; 2016 Phone Shop All Rights Reserved</h5>
      </div>
    </div>
  </div>
</footer>
