<div class="pic-area" style="height: 200px;">
  <div class="inner-box">
    <h1 style="padding-top: 80px;">We are here to help You</h1>
  </div>
</div>
<section class="contact-content">
  <div class="inner-box">
    <h2>Kontakt</h2>
    <div class="contact-form">
      <h3>Võta meiega ühendust</h3>
      <div class="name">
        <label for="name">Nimi</label>
        <input type="text" name="name" value="" id="name">
      </div>
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="email" value="" id="email">
      </div>
      <div class="title">
        <label for="title">Pealkiri</label>
        <input type="title" name="title" value="" id="title">
      </div>
      <label for="text">Sisu</label>
      <textarea type="text" name="text" value="" id="text"></textarea>
      <a class="btn-regular" href="#">Saada</a>
    </div>
  </div>
</section>
