<div class="homepage">
  <div class="pic-area">
    <div class="inner-box">
      <h1>Osta IPhone ja säästa 10%</h1>
      <a class="btn-regular" href="#">Vaata lähemalt</a>
    </div>
  </div>
  <section class="featured">
    <nav class="inner-box">
      <h2>Erilised pakkumised</h2>
      <a class="btn-regular" href="../products.html">Vaata kõiki tooteid &gt</a>
    </nav>
    <div class="products inner-box flex-container">
      <article class="featured-item">
        <div class="percentage-box">-13%</div>
        <img src="https://pood.elion.ee/staticCDN/tooted/150829/7/400x400/Mobiiltelefon%20Apple%20iPhone%206s%2016GB%20hall%20eestvaatest.jpg" alt="">
        <p class="name">mobiiltelefon Apple iPhone 6 Plus 64 GB</p>
        <p class="price">Kliendihind: <span>€600</span></p>
        <a class="btn-regular" href="#">Vaata lähemalt</a>
      </article>
      <article class="featured-item">
        <div class="percentage-box">-13%</div>
        <img src="https://pood.elion.ee/staticCDN/tooted/150829/7/400x400/Mobiiltelefon%20Apple%20iPhone%206s%2016GB%20hall%20eestvaatest.jpg" alt="">
        <p class="name">mobiiltelefon Apple iPhone 6 Plus 64 GB</p>
        <p class="price">Kliendihind: <span>€600</span></p>
        <a class="btn-regular" href="#">Vaata lähemalt</a>
      </article>
      <article class="featured-item">
        <div class="percentage-box">-13%</div>
        <img src="https://pood.elion.ee/staticCDN/tooted/150829/7/400x400/Mobiiltelefon%20Apple%20iPhone%206s%2016GB%20hall%20eestvaatest.jpg" alt="">
        <p class="name">mobiiltelefon Apple iPhone 6 Plus 64 GB</p>
        <p class="price">Kliendihind: <span>€600</span></p>
        <a class="btn-regular" href="#">Vaata lähemalt</a>
      </article>
      <article class="featured-item">
        <div class="percentage-box">-13%</div>
        <img src="https://pood.elion.ee/staticCDN/tooted/150829/7/400x400/Mobiiltelefon%20Apple%20iPhone%206s%2016GB%20hall%20eestvaatest.jpg" alt="">
        <p class="name">mobiiltelefon Apple iPhone 6 Plus 64 GB</p>
        <p class="price">Kliendihind: <span>€600</span></p>
        <a class="btn-regular" href="#">Vaata lähemalt</a>
      </article>

      <article style="text-align: center;width: 100%;visibility: hidden;height: 0;"></article>
    </div>
  </section>
</div>
