<div class="pic-area products-image">
  <div class="inner-box">
    <h1 style="padding-top: 80px;">Suur valik tooteid</h1>
  </div>
</div>
<section>
  <div class="inner-box">
  <div class="row">
    <div class="col-md-3 sorting">
      <h2>Sorteerimine</h2>
      <div class="sorting-area">
        <p>
        <label for="amount">Hinna vahemik:</label>
        <input type="text" id="amount" readonly style="border:0; background: none; color:#f6931f; font-weight:bold;">
        </p>

        <div id="slider-range"></div>
      </div>
    </div>
    <div class="col-md-9 catalogue-products">
      <h2>Tooted</h2>
      <article class="catalogue-item" ng-repeat="item in itemData">
        <div class="item-image">
          <img src="{{item.img}}" alt="" />
        </div>
        <div class="item-info">
          <h3 class="name">{{item.name}}</h3>
          <p class="description">{{item.description}}</p>
          <p class="colors-title">Värv(id): </p><p ng-repeat="color in item.colors" class="color">{{color}}</p>
          <p class="availability">Saadavus &#8690;</p>
          <p class="price-label">Tavahind:</p>
          <p class="price">{{item.normal_price}}</p>
          <a class="btn-regular" href="#">Lisa ostukorvi</a>
        </div>
      </article>
    </div>
  </div>
  </div>

</section>
